<div style="align-items: center;">
  Create User
  <form [formGroup]="form" class="normal-form">
    <div class="controles-container">
      <mat-form-field>
        <input type="text" formControlName="userName" matInput
          placeholder="Username">
        <mat-error>Username is required</mat-error>
      </mat-form-field>
    </div>
    <div class="controles-container">
      <mat-form-field>
        <input type="text" formControlName="email" matInput
          placeholder="Email">
      </mat-form-field>
    </div>
    <div class="controles-container">
      <mat-form-field>
        <input type="password" formControlName="password" matInput
          placeholder="password">
      </mat-form-field>
    </div>
    <div class="controles-container">
      <mat-form-field>
        <input type="password" formControlName="confirmPassword" matInput
          placeholder="confirmPassword">
      </mat-form-field>
    </div>
    <div class="controles-container">
      <mat-form-field>
        <input type="text" formControlName="displayName" matInput
          placeholder="displayName">
      </mat-form-field>
    </div>
    <div class="controles-container">
      <mat-form-field>
        <input type="text" formControlName="firstName" matInput
          placeholder="firstName">
      </mat-form-field>
    </div>
    <div class="controles-container">
      <mat-form-field>
        <input type="text" formControlName="lastName" matInput
          placeholder="lastName">
      </mat-form-field>
    </div>
    <div class="controles-container">
      <mat-form-field>
        <input type="text" formControlName="nickName" matInput
          placeholder="nickName">
      </mat-form-field>
    </div>
    <div class="controles-container">
      <mat-form-field>
        <input type="text" formControlName="website" matInput
          placeholder="website">
      </mat-form-field>
    </div>
    <div class="controles-container">
      <mat-form-field>
        <textarea type="text" formControlName="bio" matInput
          placeholder="bio"></textarea>
      </mat-form-field>
    </div>
    <div class="controles-container">
      <mat-form-field>
        <input type="text" formControlName="jabber" matInput
          placeholder="jabber">
      </mat-form-field>
    </div>
    <div class="controles-container">
      <mat-form-field>
        <input type="text" formControlName="jabber" matInput
          placeholder="jabber">
      </mat-form-field>
    </div>
    <div class="controles-container">
      <mat-form-field>
        <input type="text" formControlName="aol_im" matInput
          placeholder="aol_im">
      </mat-form-field>
    </div>
    <div class="controles-container">
      <mat-form-field>
        <input type="text" formControlName="yahoo_im" matInput
          placeholder="yahoo_im">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary"
      [disabled]="form.invalid"
      (click)="submit(form)">Create and
      Access</button>
  </form>
</div>