<div style="text-align: center;">
  <h2><b>Create User</b></h2>
  <form [formGroup]="form" class="normal-form">
    <div layout="row">
      <div class="col-md-6">Username</div>
      <div class="col-md-6">
        <input type="text" formControlName="userName" matInput>

      </div>
    </div>
    <div layout="row">
      <div class="col-md-6">Email</div>
      <div class="col-md-6">
        <input type="text" formControlName="email" matInput>

      </div>
    </div>
    <div layout="row">
      <div class="col-md-6">Password</div>
      <div class="col-md-6">
        <input type="password" formControlName="password" matInput>

      </div>
    </div>
    <div layout="row">
      <div class="col-md-6">Confirm Password</div>
      <div class="col-md-6">
        <input type="password" formControlName="confirmPassword" matInput>
      </div>
    </div>
    <div layout="row">
      <div class="col-md-6">Display Name</div>
      <div class="col-md-6">
        <input type="text" formControlName="displayName" matInput>

      </div>
    </div>
    <div layout="row">
      <div class="col-md-6">Firstname</div>
      <div class="col-md-6">
        <input type="text" formControlName="firstName" matInput
          placeholder="firstName">

      </div>
    </div>
    <div layout="row">
      <div class="col-md-6">Lastname</div>
      <div class="col-md-6">
        <input type="text" formControlName="lastName" matInput
          placeholder="Lastname">

      </div>
    </div>
    <div layout="row">
      <div class="col-md-6">Nickname</div>
      <div class="col-md-6">
        <input type="text" formControlName="nickName" matInput>

      </div>
    </div>
    <div layout="row">
      <div class="col-md-6">Website</div>
      <div class="col-md-6">
        <input type="text" formControlName="website" matInput>

      </div>
    </div>
    <div layout="row">
      <div class="col-md-6">Bio</div>
      <div class="col-md-6">
        <textarea type="text" formControlName="bio" matInput></textarea>

      </div>
    </div>
    <div layout="row">
      <div class="col-md-6">Jabber</div>
      <div class="col-md-6">
        <input type="text" formControlName="jabber" matInput>

      </div>
    </div>
    <div layout="row">
      <div class="col-md-6">AOL_IM</div>
      <div class="col-md-6">
        <input type="text" formControlName="aol_im" matInput>

      </div>
    </div>
    <div layout="row">
      <div class="col-md-6">YAHOO_IM</div>
      <div class="col-md-6">
        <input type="text" formControlName="yahoo_im" matInput>
      </div>
    </div>

    <button mat-raised-button color="primary"
      [disabled]="form.invalid"
      (click)="submit(form)">Create and
      Access</button>
  </form>

</div>