<div style="text-align: center;">
  <h2><b>Create User</b></h2>
  <form [formGroup]="form" class="normal-form">
    <div layout="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <mat-form-field>
          <input type="text" formControlName="userName" matInput
            placeholder="Username">
        </mat-form-field>
      </div>
    </div>
    <div layout="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <mat-form-field>
          <input type="text" formControlName="email" matInput
            placeholder="Email">

        </mat-form-field>
      </div>
    </div>
    <div layout="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <mat-form-field>
          <input type="password" formControlName="password" matInput
            placeholder="Password">

        </mat-form-field>
      </div>
    </div>
    <div layout="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <mat-form-field>
          <input type="password" formControlName="confirmPassword" matInput
            placeholder="Confirm Password">
        </mat-form-field>
      </div>
    </div>
    <div layout="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <mat-form-field> <input type="text" formControlName="displayName"
            matInput placeholder="Display Name">
        </mat-form-field>
      </div>
    </div>
    <div layout="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <mat-form-field>
          <input type="text" formControlName="firstName" matInput
            placeholder="firstName">

        </mat-form-field>
      </div>
    </div>
    <div layout="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <mat-form-field><input type="text" formControlName="lastName" matInput
            placeholder="Lastname">
        </mat-form-field>
      </div>
    </div>
    <div layout="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <mat-form-field> <input type="text" formControlName="nickName" matInput
            placeholder="Nickname">
        </mat-form-field>
      </div>
    </div>
    <div layout="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <mat-form-field>
          <input type="text" formControlName="website" matInput
            placeholder="Website">

        </mat-form-field>
      </div>
    </div>
    <div layout="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <mat-form-field>
          <textarea type="text" formControlName="bio" matInput
            placeholder="Bio"></textarea>

        </mat-form-field>
      </div>
    </div>
    <div layout="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <mat-form-field>
          <input type="text" formControlName="jabber" matInput
            placeholder="Jabber">

        </mat-form-field>
      </div>
    </div>
    <div layout="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <mat-form-field>
          <input type="text" formControlName="aol_im" matInput
            placeholder="AOL_IM">

        </mat-form-field>
      </div>
    </div>
    <div layout="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <mat-form-field>
          <input type="text" formControlName="yahoo_im" matInput
            placeholder="YAHOO_IM">
        </mat-form-field>
      </div>
    </div>

    <button mat-raised-button style="background-color: #3fbcf4; color:
      aliceblue;"
      [disabled]="form.invalid"
      (click)="submit(form)">Create and
      Access</button>
  </form>

</div>